*{
    margin: 0;
    padding: 0;
  
}
body{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    width: 100%;
    height: 100%;
   
    
    
}
.header{
 
    border-bottom: 3px solid #A9508B;
    background-color: #35424A;
    padding: 2% 1% 5% 1%;
    color: white;
}
span{
    color:#A9508B;
}
.header-left{
    float: left;
    
}
.header-navigator{
 
    float: right;
}

a {
    
    text-decoration: none;
    padding-right: 5px; 
    color: white; 

}
#about{
    color:#A9508B;
}


.header-navigator li{   
    list-style: none;
    display: inline-block;
    
         
}
.main1-right{
    float: right;
    width: 28%;
}
.main1 p{
    float: left;
}

.main1{
    color: white;
   background-color:#35424A;
   padding: 2% 1% 5% 1%;
  
}
input{
    padding: 2.5%;
    width: max-content;

}
button{
    background-color: #E8491D;
    border: none;
    color: white;
    padding: 2.7%;
    margin: 1%;
    
}
.main2{
   padding: 1% 1% 30% 1%;
    background-color: gainsboro;
    border: 1px solid ;
    font-size: 12px;
  
    display: flex;
}
#main2-left--üst,.main2-left h3{   
    padding-left: 2%;
    margin: 2% 0;

}
#main2-left--alt{
    background-color:#35424A;
    padding: 2%;

}
.main2-right{
    background-color:#35424A;
    padding: 1%;
    margin: 1% 1% 1% 7%;
    height: 30%;
}
.footer{
    width: 100%;
    background-color: #35424A; 
    color: white;
    padding: 5px;
    text-align: center;
    

}